<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render partial: 'spree/shared/blogs_breadcrumbs', locals: { blog: @blog, tag: nil, post: @post } %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% if @post.post_image.present? %>
        <div class="post-img" style="--aspect-ratio:1/1;">
            <%= image_tag(main_app.url_for(@post.post_image.attachment),
                          options = { class:'lazyload',
                                      alt: @post.post_image.alt,
                                      data: { src: main_app.url_for(@post.post_image.attachment), srcset: main_app.url_for(@post.post_image.attachment) }
                                    }) %>
        </div>
      <% end %>
    </div>

    <div class="col-12">
      <h1><%= @post.title %></h1>

      <p class="small">
        <span class="text-muted">On:</span>
        <%= localize(@post.published_at, format: :blog_date) %>
        <span class="text-muted">| In:</span>
        <%= @post.blog.title %>
        <span class="text-muted">| By:</span>
        <%= @post.author.nickname %>
      </p>

      <p><%= @post.content %></p>

    </div>
  </div>
</div>
