  <div class="col-md-6">
    <%= f.field_container :nickname, class: ['form-group'] do %>
      <%= f.label :nickname, Spree.t(:nickname) %>
      <%= f.text_field :nickname, class: 'form-control' %>
      <%= error_message_on :user, :nickname %>
    <% end %>
    <%= f.field_container :website_url, class: ['form-group'] do %>
      <%= f.label :website_url, Spree.t(:website_url) %>
      <%= f.text_field :website_url, class: 'form-control' %>
      <%= error_message_on :user, :website_url %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= f.field_container :bio_info, class: ['form-group'] do %>
      <%= f.label :bio_info, Spree.t(:bio_info) %>
      <%= f.text_area :bio_info, { rows: 4, class: 'form-control' } %>
    <%= f.error_message_on :bio_info %>
    <% end %>
  </div>
