<div class="row" data-hook="spree-blog-post-form">
  <div class="col-12 col-md-8">

    <div class="row">
      <div class="col-12">
        <h5><%= I18n.t('spree_blogs.admin.post_details') %></h5>
        <%= form.field_container :title do %>
        <div class="form-group">
          <%= form.label :title, I18n.t('spree_blogs.admin.title') %> <span class="text-danger">*</span>
          <%= form.text_field :title, class: 'form-control', required: true %>
          <%= form.error_message_on :title %>
        </div>
        <% end %>
      </div>
    </div>

    <% if SpreeBlogs::Config[:use_action_text] %>
      <div class="row">
        <div class="col-12">
          <%= form.field_container :action_text_content do %>
            <div class="form-group">
              <%= form.label :action_text_content, I18n.t('spree_blogs.admin.content') %> <span class="text-danger">*</span>
              <%= form.rich_text_area :action_text_content, {id: 'post_body', required: true } %>
              <%= form.error_message_on :action_text_content %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-12">
          <%= form.field_container :content do %>
            <div class="form-group">
              <%= form.label :content, I18n.t('spree_blogs.admin.content') %> <span class="text-danger">*</span>
              <%= form.text_area :content, { rows: 16, class: 'form-control', id: 'post_content', required: true } %>
              <%= form.error_message_on :content %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-12">
        <%= form.field_container :excerpt do %>
          <div class="form-group">
            <%= form.label :excerpt, I18n.t('spree_blogs.admin.excerpt') %> <span class="text-danger">*</span>
            <%= form.text_area :excerpt, { rows: 2, class: 'form-control', id: 'post_summary', required: true, placeholder: I18n.t('spree_blogs.admin.excerpt_place_holder') } %>
            <%= form.error_message_on :excerpt %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h5 class="card-title"><%= I18n.t('spree_blogs.admin.seo') %></h5>
        <%= form.field_container :slug do %>
          <div class="form-group">
            <%= form.label :slug, I18n.t('spree_blogs.admin.slug') %>
            <%= form.text_field :slug, class: 'form-control', id: 'slug', onfocusout: 'validateSlug()' %>
            <%= form.error_message_on :slug %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= form.field_container :meta_title do %>
        <div class="form-group">
          <%= form.label :meta_title, I18n.t('spree_blogs.admin.meta_title') %>
          <%= form.text_field :meta_title, class: 'form-control' %>
          <%= form.error_message_on :meta_title %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= form.field_container :meta_description do %>
          <div class="form-group">
            <%= form.label :meta_description, I18n.t('spree_blogs.admin.meta_description') %>
            <%= form.text_area :meta_description, { rows: 4, class: 'form-control', id: 'post_meta_description' } %>
            <%= form.error_message_on :meta_description %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="row">
      <div class="col-12 ">
          <h5><%= I18n.t('spree_blogs.admin.featured_image') %></h5>
          <% @post.build_post_image unless @post.post_image %>
            <%= form.fields_for :post_image do |post_image_field| %>

              <%= form.field_container :post_image_attachment do %>
                <% unless @post.post_image.new_record? %>
                  <div class="post_image_thumbnail thumbnail d-flex" style="--aspect-ratio:<%= SpreeBlogs::Config.image_ratio %>;">
                    <div id="postImage" class="d-flex justify-content-center align-self-center">
                      <div class="justify-content-center align-self-center">
                        <%= image_tag(main_app.url_for(@post.post_image.attachment)) %>
                      </div>
                    </div>
                    <%= @post.post_image.attachment_file_name %><br>
                  </div>
              <% end %>
              <div id="<% unless @post.post_image.new_record? %>PostImageButton<% end %>">
              <%= post_image_field.file_field :attachment %>
              </div>
            <% end %>

            <%= form.field_container :post_image_alt do %>
              <div class="form-group my-3">
                <%= post_image_field.label :alt, I18n.t('spree_blogs.admin.alt_text') %>
                <%= post_image_field.text_field :alt, class: 'form-control' %>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= form.field_container :tag_list do %>
          <div class="form-group">
            <%= form.label :tag_list, I18n.t('spree_blogs.admin.tags') %>
            <%= form.select(:tag_list, Spree::Post.tags_on(:tags) {|p| [p.name, p.id ]}, { }, { multiple: true }) %>
          </div>
        <% end %>

        <script>
          $("#post_tag_list").select2({ tags: true });
        </script>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= form.field_container :published_at do %>
          <div class="form-group">
            <%= form.label :published_at, I18n.t('spree_blogs.admin.published_at') %>
            <%= form.error_message_on :published_at %>
            <div class="input-group datePickerFrom"
                 data-wrap="true"
                 data-enable-time="true"
                 data-alt-format="<%= Spree.t(:fpr_human_friendly_date_time_format, scope: 'date_picker', default: 'M j, Y H:i') %>">

            <%= form.datetime_field :published_at,
                                    placeholder: I18n.t('spree_blogs.admin.select_a_date'),
                                    class: 'form-control shadow-none ',
                                    'data-input':'' %>

            <%= render partial: 'spree/admin/shared/cal_close' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-12">
        <%= form.field_container :visible do %>
          <div class="custom-control custom-checkbox">
            <%= form.check_box :visible, class: 'custom-control-input' %>
            <%= form.label :visible, I18n.t('spree_blogs.admin.visible'), class: 'custom-control-label' %>
            <%= form.error_message_on :visible %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= form.field_container :blog_id, class: ['form-group'] do %>
          <%= form.label :blog_id, I18n.t('spree_blogs.admin.blog') %>
          <%= form.collection_select(:blog_id, Spree::Blog.all, :id, :title, { include_blank: false }, { class: "select2" }) %>
          <%= form.error_message_on :blog_id %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= form.field_container :author_id do %>
          <%= form.label :author_id, I18n.t('spree_blogs.admin.author_id') %>
          <br>
          <%= form.select :author_id,
                          Spree.user_class.joins(:spree_roles).where("#{Spree::Role.table_name}.name" => "blogger").collect {|user| [user.email, user.id]},
                          {include_blank: true}, class: 'select2' %>
        <% end %>
      </div>
    </div>

  </div>
</div>
<hr>

<script>
  function validateSlug() {
    var x = document.getElementById("slug");

     var slugged = slugify(x.value, {
          replacement: '-',  // replace spaces with replacement character, defaults to `-`
          remove: undefined, // remove characters that match regex, defaults to `undefined`
          lower: true,      // convert to lower case, defaults to `false`
          strict: false,     // strip special characters except replacement, defaults to `false`
        })

     x.value = slugged
  }
</script>
