<% content_for :page_title do %>
   <%= Spree.t(:posts) %>
<% end %>

<% content_for :page_actions do %>
  <%#= button_link_to(Spree.t(:manage_blogs), admin_blogs_path, class: 'btn-outline-secondary') %>
  <%= button_link_to(Spree.t(:new_post), new_object_url, icon: 'add.svg', class: 'btn-success') %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_posts_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
    <%- locals = {f: f} %>
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :q_title, Spree::Post.human_attribute_name(:title) %>
            <%= f.text_field :title_cont, size: 25, class: 'form-control js-quick-search-target js-filterable' %>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <%= label_tag :q_blog_id_in, Spree.t(:view_posts_in_blog) %>
            <%= f.select :blog_id_in, Spree::Blog.all.pluck(:title, :id), { include_blank: true }, class: 'select2 js-filterable' %>
          </div>
        </div>

      </div>
      <div class="form-actions" data-hook="admin_reviews_index_search_buttons">
        <%= button Spree.t(:filter_results), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @posts.any? %>
<div class="table-responsive">
  <table class="index table">
    <thead>
      <tr>
        <th class="title"><%= Spree.t(:title) %></th>
        <th><%= Spree.t(:published_status) %></th>
        <th><%= Spree.t(:author) %></th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= post.title %></td>
          <td>
            <% if post.published? %>
              <span class="badge badge-considered_safe">
                 <%= post.blog.title %>
              </span>
            <% else %>
              <span class="badge badge-pending">
                <%= Spree.t(:draft) %>
              </span>
            <% end %>
          </td>
          <td>
            <%= post.author_display_name if post.author_display_name.present? %>
          </td>
          <td class="actions text-right no-wrap">
            <% if post.blog.present? && !post.blog.stores.empty? %>
              <div class="dropdown d-inline-block">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton-<%= post.blog.slug %>"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">

                  <%= svg_icon name: "view.svg", width: '16', height: '16' %>
                </button>
                <div class="dropdown-menu mt-2 p-0 mr-2 dropdown-menu-right" aria-labelledby="dropdownMenuButton-<%= post.blog.slug %>">
                  <div class="dropdown-item px-0 py-2 text-center bg-light">
                    <%= Spree.t('view_post_in_store') %>
                  </div>
                  <div class="dropdown-divider m-0"></div>
                  <% post.blog.stores.each do |store| %>
                    <%= view_post_in_store_link(post.blog, post, store) %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= link_to_edit(post, no_text: true) %>
            <%= link_to_delete(post, no_text: true) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <%= render 'spree/admin/shared/index_table_options', collection: @posts, simple: true %>

<% else %>
  <div class="no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/post')) %>,
    <%= link_to(Spree.t(:add_one), spree.new_admin_post_path) %>!
  </div>
<% end %>
