<div class="container">
  <%= render partial: 'spree/shared/blogs_breadcrumbs', locals: { blog: @blog, tag: @tag, post: nil } %>
  <div class="row">
    <h1><%= @tag %></h1>
  </div>

<div class="row">
  <div class="col-8">
    <%= render 'posts' %>
  </div>

  <div class="col-4">
    <%= render partial: 'spree/shared/tag_cloud', locals: { posts: @posts.except(:limit, :offset) } %>
    <%= render 'spree/shared/recent_posts', recent_blog_posts: @posts.except(:limit, :offset).recent(10) %>
  </div>
</div>
